<link rel="stylesheet" type="text/css" href="{{settings.footer_style}}">

<footer class="footer brand-border-color">
  <div class="footer-content">
      <div class="footer-top">
        <div class="footer-top-left">
            <a href="https://yield.app">
                <img src="{{settings.yield_app_logo}}" class="footer-logo" alt="{{t 'home_page' name=help_center.name}}">
            </a>
            <div class="footer-stores">
                <a href="https://apps.apple.com/app/yield-app/id1591189242" data-location-href="true" data-location-simple="true" target="_blank" rel="noreferer noopener">
                    <img alt="apple store logo" class="locale_en-us" src="{{settings.apple_store}}">
                    <img alt="apple store logo" class="locale_es" src="{{settings.apple_store_es}}">
                    <img alt="apple store logo" class="locale_fr" src="{{settings.apple_store_fr}}">
                    <img alt="apple store logo" class="locale_it" src="{{settings.apple_store_it}}">
                    <img alt="apple store logo" class="locale_pl" src="{{settings.apple_store_pl}}">
                    <img alt="apple store logo" class="locale_zh-cn" src="{{settings.apple_store_zh_cn}}">
                    <img alt="apple store logo" class="locale_zh-tw" src="{{settings.apple_store_zh_tw}}">
                </a>
                <a class="google-play-link" href="https://play.google.com/store/apps/details?id=com.yieldapp_mobile&hl=en" data-location-query="hl" target="_blank" rel="noreferer noopener">
                    <img alt="google store logo" class="locale_en-us" src="{{settings.google_play}}">
                    <img alt="google store logo" class="locale_es" src="{{settings.google_play_es}}">
                    <img alt="google store logo" class="locale_fr" src="{{settings.google_play_fr}}">
                    <img alt="google store logo" class="locale_it" src="{{settings.google_play_it}}">
                    <img alt="google store logo" class="locale_pl" src="{{settings.google_play_pl}}">
                    <img alt="google store logo" class="locale_zh-cn" src="{{settings.google_play_zh_cn}}">
                    <img alt="google store logo" class="locale_zh-tw" src="{{settings.google_play_zh_tw}}">
                </a>
            </div>
            <div class="trustpilot-wrapper desktop-item"></div>
        </div>
        <div class="footer-top-right">
            <div class="footer-sections">
                <div class="footer-section">
                    <div class="footer-title brand-text-color-inverted" data-translation-key="footer_title_products"></div>
                    <a href="https://yield.app/swap-crypto" data-location-href="true" data-translation-key="footer_link_exchange"></a>
                    <a href="https://yield.app/yield-app-labs" data-location-href="true" data-translation-key="footer_link_yield_labs"></a>
                    <a href="https://yield.app/haven1" data-location-href="true" data-translation-key="footer_link_haven1"></a>
                    <a href="https://yield.app/swap-crypto" data-location-href="true" data-translation-key="footer_link_swap"></a>
                </div>
                <div class="footer-section">
                    <div class="footer-title brand-text-color-inverted" data-translation-key="footer_title_follow"></div>
                    <a href="https://www.youtube.com/c/yieldapp">YouTube</a>
                    <a href="https://www.instagram.com/yield.app">Instagram</a>
                    <a href="https://discord.com/invite/crwD3JgMgn">Discord</a>
                    <a href="https://www.linkedin.com/company/yieldapp/">LinkedIn</a>
                    <a href="https://yieldapp.medium.com/">Medium</a>
                    <a href="https://www.reddit.com/user/YIELDapp">Reddit</a>
                    <a href="https://twitter.com/yieldapp">Twitter</a>
                    <a href="https://t.me/yieldapp">Telegram</a>
                    <a href="https://www.facebook.com/YieldApp/">Facebook</a>
                </div>
                <div class="footer-section">
                    <div class="footer-title brand-text-color-inverted" data-translation-key="footer_title_legal"></div>
                    <a href="https://yield.app/bug-bounty-policy" data-location-href="true" data-translation-key="footer_link_bug_bounty"></a>
                    <a href="https://yield.app/cookie-policy" data-location-href="true" data-translation-key="footer_link_cookie"></a>
                    <a href="https://yield.app/privacy-policy" data-location-href="true" data-translation-key="footer_link_privacy"></a>
                    <a href="https://yield.app/referral-program-policy" data-location-href="true" data-translation-key="footer_link_referral_program"></a>
                    <a href="https://yield.app/terms-and-conditions" data-location-href="true" data-translation-key="footer_link_terms_and_conditions"></a>
                    <div class="footer-title brand-text-color-inverted footer-contact" data-translation-key="footer_title_contact"></div>
                    <a href="mailto:info@yield.app">info@yield.app</a>
                    <div class="footer-language-selector">
                      <div class="dropdown language-selector async-language-selector" data-name-locale="{{current_locale.name}}">
                        <button class="dropdown-clickable arrow-black-after-background locale-before-background-inverted" aria-haspopup="true" data-clickable-dropdown="footerMobileLangSelectorList"></button>
                        <span class="dropdown-menu dropdown-menu-end" role="menu" id="footerMobileLangSelectorList"></span>
                      </div>
                   </div>
                </div>
            </div>
            <div class="footer-desktop-all-rights desktop-item">
                <span class="footer-all-rights">© 2020-2022.&nbsp;<span data-translation-key="footer_all_right"></span>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-left">
            <div class="trustpilot-wrapper mobile-item"></div>
        </div>
        <div class="footer-bottom-right mobile-item">
            <span class="footer-all-rights">© 2020-2022.&nbsp;<span data-translation-key="footer_all_right"></span>
        </div>
      </div>
  </div>
</footer>

<script src="{{settings.footer_script}}"></script>
