<link rel="stylesheet" type="text/css" href="{{settings.footer_style}}">

<footer class="footer brand-border-color">
  <div class="footer-top">
    <div class="footer-top-left">
        <a href="https://yield.app">
            <img src="{{settings.logo}}" class="footer-logo" alt="{{t 'home_page' name=help_center.name}}">
        </a>
        <div class="footer-stores">
            <a href="https://apps.apple.com/app/yield-app/id1591189242" target="_blank" rel="noreferer noopener">
                <img alt="apple store logo" src="{{settings.apple_store}}">
            </a>
            <a class="google-play-link" href="https://play.google.com/store/apps/details?id=com.yieldapp_mobile" target="_blank" rel="noreferer noopener">
                <img alt="google store logo" src="{{settings.google_play}}">
            </a>
        </div>
    </div>
    <div class="footer-top-right">
        <div class="footer-section">
            <div class="footer-title brand-text-color-inverted">Company{{!-- TODO: need translation --}}</div>
            <a href="https://www.yield.app/">Home{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/about">About us{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/businesses">Businesses{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/careers">Careers{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/earn">Earn{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/yld">YLD token{{!-- TODO: need translation --}}</a>
        </div>
        <div class="footer-section">
            <div class="footer-title brand-text-color-inverted">Resources{{!-- TODO: need translation --}}</div>
            <a href="https://www.yield.app/assets-audit">Assets audit{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/blog">Blog{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/markets">Markets{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/referrals">Referrals{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/stats">Stats{{!-- TODO: need translation --}}</a>
            <a href="https://www.yield.app/security">Security{{!-- TODO: need translation --}}</a>
        </div>
        <div class="footer-section">
            <div class="footer-title brand-text-color-inverted">Follow us{{!-- TODO: need translation --}}</div>
            <a href="https://discord.com/invite/crwD3JgMgn">Discord{{!-- TODO: need translation --}}</a>
            <a href="https://www.linkedin.com/company/yieldapp/">LinkedIn{{!-- TODO: need translation --}}</a>
            <a href="https://yieldapp.medium.com/">Medium{{!-- TODO: need translation --}}</a>
            <a href="https://www.reddit.com/user/YIELDapp">Reddit{{!-- TODO: need translation --}}</a>
            <a href="https://twitter.com/yieldapp">Twitter{{!-- TODO: need translation --}}</a>
            <a href="https://t.me/yieldapp">Telegram{{!-- TODO: need translation --}}</a>
        </div>
        <div class="footer-section">
            <div class="footer-title brand-text-color-inverted">Legal{{!-- TODO: need translation --}}</div>
            <a href="bug-bounty-policy">Bug bounty policy{{!-- TODO: need translation --}}</a>
            <a href="cookie-policy">Cookie policy{{!-- TODO: need translation --}}</a>
            <a href="privacy-policy">Privacy policy{{!-- TODO: need translation --}}</a>
            <a href="referral-program-policy">Referral program policy{{!-- TODO: need translation --}}</a>
            <a href="terms-and-conditions">Terms and conditions{{!-- TODO: need translation --}}</a>
            <div class="footer-title brand-text-color-inverted footer-contact">Contact{{!-- TODO: need translation --}}</div>
            <a href="mailto:info@yield.app">info@yield.app</a>
            <div class="footer-language-selector">
              {{#if alternative_locales}}
                <div class="dropdown language-selector">
                  <button class="dropdown-toggle" aria-haspopup="true">
                    {{current_locale.name}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
                    </svg>
                  </button>
                  <span class="dropdown-menu dropdown-menu-end" role="menu">
                    {{#each alternative_locales}}
                      <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                        {{name}}
                      </a>
                    {{/each}}
                  </span>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
        <!-- TrustBox widget - Mini -->
        <div
                class="trustpilot-widget"
                data-locale="en-US"
                data-template-id="53aa8807dec7e10d38f59f32"
                data-businessunit-id="613fa057350776001de32082"
                data-style-height="120px"
                data-style-width="200px"
                data-theme="light">
            <a href="https://www.trustpilot.com/review/yield.app" target="_blank" rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
    </div>
    <div class="footer-bottom-right">
        <span class="footer-all-rights">© 2020-2022.&nbsp;All right reserved{{!-- TODO: need translation --}}</span>
    </div>
  </div>
</footer>

<script src="{{settings.footer_script}}"></script>
