<link rel="stylesheet" type="text/css" href="{{settings.header_style}}">

<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header brand-color brand-text-color">
  <div class="header-container">
    <div class="logo">
      <a href="https://yield.app">
        <img src="{{settings.logo_white}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
    </div>
    <div class="header-actions">
      <button class="brand-color-inverted brand-text-color-inverted request-button" data-action="request" aria-haspopup="true">
        {{t 'submit_a_request'}}
      </button>
      <div class="header-language-selector">
          <div class="dropdown language-selector async-language-selector locale-before-background arrow-white-after-background">
            <button class="dropdown-toggle brand-text-color" aria-haspopup="true"></button>
            <span class="dropdown-menu dropdown-menu-end" role="menu"></span>
          </div>
      </div>
    </div>
   </div>
   {{#if signed_in}}
   <div class="user-info-block">
       <div class="user-info dropdown">
         <button class="dropdown-toggle" aria-haspopup="true">
           {{user_avatar class="user-avatar"}}
           <span class="hide-on-mobile">
             {{user_name}}
             <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
               <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
             </svg>
           </span>
         </button>
         <div class="dropdown-menu" role="menu">
           {{link "my_activities" role="menuitem"}}
           {{my_profile role="menuitem"}}
           {{change_password role="menuitem"}}
           {{link "sign_out" role="menuitem"}}
         </div>
       </div>
   </div>
 {{else}}
 {{/if}}
    <div class="header-mobile-action">
       <button class="brand-color-inverted brand-text-color-inverted request-button" data-action="request" aria-haspopup="true">
         {{t 'submit_a_request'}}
       </button>
   </div>
</header>

<script src="{{settings.header_script}}"></script>

