<link rel="stylesheet" type="text/css" href="{{settings.header_style}}">

<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header brand-color brand-text-color">
  <div class="header-container">
    <div class="logo">
      <a href="https://yield.app">
        <img src="{{settings.logo_white}}" alt="{{t 'home_page' name=help_center.name}}">
      </a>
    </div>
    <div class="header-actions">
      <button class="brand-color-inverted brand-text-color-inverted request-button" aria-haspopup="true">
        {{t 'submit_request'}} {{!-- TODO: translations did not work --}}
        Submit a request
      </button>
      <div class="header-language-selector">
          <div class="dropdown language-selector async-language-selector">
            <button class="dropdown-toggle brand-text-color" aria-haspopup="true"></button>
            <span class="dropdown-menu dropdown-menu-end" role="menu"></span>
          </div>
      </div>
    </div>
   </div>
</header>

<script src="{{settings.header_script}}"></script>

