<link rel="stylesheet" type="text/css" href="{{settings.request_style}}">
<section class="hero-with-search brand-color waves-bg">
    <div class="hero-inner">
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
      <div class="hero-inner-discard-search">×</button>
    </div>
</section>
<div class="container request_page">
  <div class="page-breadcrumbs">
    {{breadcrumbs}}
  </div>

  <h1>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>

  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>
<div class="new_request_search_template" style="display: none;">
    <label id="request_type_label" for="request_type" data-translation-key="new_request_type"></label>
    <select
        name="request[type]"
        id="request_type"
        aria-required="true"
        aria-labelledby="request_type_label">
        <option value="Generic issue" data-translation-key="new_request_option_generic"></option>
        <option value="Fiat payments request" data-translation-key="new_request_option_payments"></option>
    </select>
</div>
<script src="{{settings.request_script}}"></script>
